
main{
    display: flex;
    position: relative;
    left: 0;
    right: 0;
    max-width: 1100px;
    margin: 120px auto;
    padding: 0px 20px;
    gap: 15px;
}

.review-your-order{
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
}

.item-list-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
    width: 100%;
}

.item-container{
    border: 1px solid rgba(174, 174, 174, 0.641);
    padding: 15px;
    max-width: 700px;
    min-width: 250px;
    height: 230px;
}

.delivery-date{
    color: rgb(1,118,40);
    font-weight: bold;
    font-size: 18px;
}

.item-option-container{
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.item-image-container img{
    width: 100px;
}

.item-name-price-quantity-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: bold;
}

.item-name-price-quantity-container p:nth-child(2){
    color: rgb(177,39,4);
}

.quantity-update-delete{
    display: flex;
    gap: 5px;
    font-weight: normal;
}

.quantity-update-delete button{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: rgb(1,124,182);
}

.quantity-update-delete button:hover{
    color: rgb(208, 34, 34);
    cursor: pointer;
}

.delivery-option-container{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: 15px;
    width: 230px;
}

.delivery-option{
    display: flex;
    gap: 8px;
}

.delivery-option input{
    width: 18px;
}

.option-date-price p:nth-child(1){
    color: rgb(0,119,1);
}
.option-date-price p:nth-child(2){
    color: rgb(70, 70, 70);
    font-weight: 300;
    font-size: 14px;
}

@media(max-width: 1000px){
    .mid-section{
        font-size: 20px;
    }
    main{
        flex-direction: column;
        max-width: 500px;
    }
    .order-summary-container{
        order: -1;
    }
    .item-option-container{
        flex-wrap: wrap;
        justify-content: start;
    }
    .item-container{
        height: fit-content;
        padding-bottom: 30px;
    }
}